<div class="header-wrapper">
  <div class="logo-container">
    <a routerLink="">
      <img src="/assets/logo.png">
    </a>
  </div>
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="education">Education</a>
      </li>
      <li class="nav-item">
        <a routerLink="aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="contactus">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="menu-container">
    <a>
      <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
      <span>My Account</span>
    </a>
  </div>
</div>
