.header-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 999;
  /*background: rgba(255,255,255,.8);*/
  background: rgba(255,255,255,1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.header-wrapper .header-inner-wrapper {
  padding: 0px 60px;
  width: 100%;
  height: 100%;
}

.header-wrapper .header-inner-wrapper .logo-container {
  padding: 5px 0px;
  float: left;
}

.header-wrapper .header-inner-wrapper .logo-container a {
  color: #668226;
  background: none;
  outline: none;
  text-decoration: none;
}

.header-wrapper .header-inner-wrapper .logo-container a img {
  height: 40px;
}

.header-wrapper .header-inner-wrapper .nav-container {
  float: left;
  padding: 0px 15px;
}

.header-wrapper .header-inner-wrapper .nav-container .nav {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 50px;
}

.header-wrapper .header-inner-wrapper .nav-container .nav .nav-item {
  padding: 0px 15px;
  outline: none;
}

.header-wrapper .header-inner-wrapper .nav-container .nav .nav-item a {
  padding: 0px;
  color: #668226;
  background: none;
  outline: none;
  text-decoration: none;
  font-weight: bold;
}

.header-wrapper .header-inner-wrapper .nav-container .nav .nav-item a:hover, .header-wrapper .nav-container .nav .nav-item a:focus {
  background: none;
  outline: none;
  text-decoration: none;
}

.header-wrapper .header-inner-wrapper .nav-container .nav .nav-item a.active:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #668226;
}

.header-wrapper .header-inner-wrapper .menu-container {
  float: right;
  text-align: right;
  line-height: 50px;
}

.header-wrapper .header-inner-wrapper .menu-container a {
  cursor: pointer;
  color: #668226;
  background: none;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  line-height: 50px;
}

.header-wrapper .header-inner-wrapper .menu-container .usr-container {
  float: left;
}

.header-wrapper .header-inner-wrapper .menu-container .usr-container.dropdown-toggle {
  float: none;
}

.header-wrapper .header-inner-wrapper .menu-container .usr-container .usr-img {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 15px;
}

.header-wrapper .header-inner-wrapper .menu-container .usr-container span {
  display: inline-block;
}

.header-wrapper .header-inner-wrapper .menu-container .dropdown-menu {
  right: 0px;
  left: auto;
  text-align: right;
}

.header-wrapper .header-inner-wrapper .menu-container a:hover, .header-wrapper .menu-container a:focus {
  background: none;
  outline: none;
  text-decoration: none;
}

.header-wrapper .header-inner-wrapper .menu-container a i {
  margin-right: 10px;
}

