<div class="header-wrapper">
  <div class="header-inner-wrapper">
    <div class="logo-container">
      <a routerLink="">
        <img src="/assets/logo.png">
      </a>
    </div>
    <div class="nav-container">
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li *ngIf="authService.isLogged && authService.role === 'OWNER'" class="nav-item">
          <a routerLink="my-farms" routerLinkActive="active">My Farms</a>
        </li>
        <li *ngIf="authService.isLogged && authService.role === 'FARMER'" class="nav-item">
          <a routerLink="proposals" routerLinkActive="active">Proposals</a>
        </li>
        <li class="nav-item">
          <a routerLink="how-it-works" routerLinkActive="active">How it works</a>
        </li>
        <li class="nav-item">
          <a routerLink="aboutus" routerLinkActive="active">About us</a>
        </li>
        <li class="nav-item">
          <a routerLink="contactus" routerLinkActive="active">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="menu-container">
      <a *ngIf="!authService.isLogged" (click)="sharedService.openAuthModal()" >
        <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
        <span>My account</span>
      </a>
      <a *ngIf="authService.isLogged" (click)="logout()" >
        <span>Logout</span>
      </a>
    </div>
  </div>
</div>
