<div class="proposal-page">
  <div class="content-section">
    <div class="row section status-section">
      <label>Status:</label>
      <p>{{proposalData.status}}</p>
    </div>
    <p class="section-title">Farm details</p>
    <div class="row section farm-section">
      <div class="row">
        <div class="col-xs-6 farm-info">
          <div class="row">
            <div class="col-xs-12">
              <p class="location-text">
                {{proposalData.farm.streetAddress}}
                {{proposalData.farm.city}}
                {{proposalData.farm.state}}
                {{proposalData.farm.zipCode}}
              </p>
            </div>
            <div class="col-xs-6">
              <label>Owner</label>
              <p>
                {{proposalData.farm.owner.firstName}}
                {{proposalData.farm.owner.lastName}}
              </p>
            </div>
            <div class="col-xs-6">
              <label>Surface area</label>
              <p>{{proposalData.farm.size}} Sqft.</p>
            </div>
            <div class="col-xs-6">
              <label>Existing structures</label>
              <p>{{proposalData.farm.existingStructures}}</p>
            </div>
            <div class="col-xs-6">
              <label>Water connection?</label>
              <p>{{proposalData.farm.waterConn}}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 location-map">
          <agm-map #farmMap [latitude]="proposalData.farm.location[1]" [longitude]="proposalData.farm.location[0]" [zoom]="zoom">
            <agm-marker [latitude]="proposalData.farm.location[1]" [longitude]="proposalData.farm.location[0]"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <p class="section-title">Proposal details</p>
    <div class="row section proposal-section">
      <div class="row">
        <div class="col-xs-6">
          <label>Created by</label>
          <p>
            {{proposalData.createdBy.firstName}}
            {{proposalData.createdBy.lastName}}
          </p>
        </div>
        <div class="col-xs-6">
          <label>Other farmers invited</label>
          <p *ngFor="let u of proposalData.invitedUsers; let i = index">
            {{u.firstName}}
            {{u.lastName}}
            <a href="javascript:void(0)"><i class="fa fa-close" aria-hidden="true"></i></a>
          </p>
          <a href="javascript:void(0)" (click)="openEditProposal('inviteFarmers')">Invite more</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Cover letter
            <a href="javascript:void(0)" (click)="openEditProposal('coverLetter')"><i class="fa fa-edit" aria-hidden="true"></i></a>
          </label>
          <p>{{proposalData.coverLetter}}</p>
        </div>
        <div class="col-xs-12">
          <label>Proposed uses
            <a href="javascript:void(0)" (click)="openEditProposal('proposedUses')"><i class="fa fa-edit" aria-hidden="true"></i></a>
          </label>
          <p>{{proposalData.proposedUses}}</p>
        </div>
        <div class="col-xs-12">
          <label>Planned operations
            <a href="javascript:void(0)" (click)="openEditProposal('plannedOperations')"><i class="fa fa-edit" aria-hidden="true"></i></a>
          </label>
          <p>{{proposalData.plannedOperations}}</p>
        </div>
      </div>
    </div>
    <div class="row section action-section">
      <button *ngIf="authService.role === 'FARMER' && proposalData.status === 'DRAFT'" class="btn btn-primary btn-uf" (click)="saveProposal(true)">Save as draft</button>
      <button *ngIf="authService.role === 'FARMER' && proposalData.status === 'DRAFT'" class="btn btn-primary btn-uf" (click)="saveProposal(false)">Submit</button>
      <button *ngIf="authService.role === 'FARMER' && proposalData.status === 'DRAFT'" class="btn btn-default btn-uf btn-uf-default" (click)="openDeleteProposal()">Delete</button>
      <button *ngIf="authService.role === 'OWNER' && proposalData.status == 'DRAFT'" class="btn btn-primary btn-uf" (click)="takeAction()">Take action</button>
    </div>
    <p class="section-title">Discussions</p>
    <div class="row section discussion-section">
      <div class="row">
        <div class="col-xs-12 message-item" *ngFor="let m of proposalMessages; let i = index">
          <p class="user-name">
            {{m.createdBy.firstName}}
            {{m.createdBy.lastName}}
            <span class="timestamp">{{m.createdDate | date: 'MM/dd/yyyy HH:mm:ss'}}</span>
          </p>
          <p class="message-text">{{m.message}}</p>
        </div>
        <div class="col-xs-12 compose-message">
          <div class="row">
            <div class="col-xs-10">
              <textarea placeholder="Write a comment..." rows="2" class="form-control" [(ngModel)]="newMessageText"></textarea>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-uf" (click)="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [blocking]='true' modalId="edit-proposal" class="edit-proposal">
  <span class="close-button" (click)="closeEditProposal()"><i class="fa fa-times" aria-hidden="true"></i></span>
  <div class="form-body">
    <div class="row">
      <div *ngIf="editView === 'coverLetter'" class="col-xs-12 form-group">
        <label>Cover letter</label>
        <textarea class="form-control" rows="4"></textarea>
      </div>
      <div *ngIf="editView === 'proposedUses'" class="col-xs-12 form-group">
        <label>Proposed uses</label>
        <textarea class="form-control" rows="4"></textarea>
      </div>
      <div *ngIf="editView === 'plannedOperations'" class="col-xs-12 form-group">
        <label>Planned operations</label>
        <textarea class="form-control" rows="4"></textarea>
      </div>
      <div *ngIf="editView === 'inviteFarmers'" class="col-xs-12 form-group">
        <label>Invite other farmers</label>
        <input type="text" class="form-control" placeholder="Search farmers...">
      </div>
    </div>
  </div>
  <div class="form-footer">
    <button class="btn btn-default btn-uf btn-uf-default" (click)="closeEditProposal()">Cancel</button>
    <button class="btn btn-primary btn-uf" (click)="saveProposalTemp()">Ok</button>
  </div>
</app-modal>

<app-modal [blocking]='true' modalId="delete-proposal" class="delete-proposal">
  <span class="close-button" (click)="closeDeleteProposal()"><i class="fa fa-times" aria-hidden="true"></i></span>
  <div class="form-body">
    <p>Are you sure, you want to delete this proposal?</p>
  </div>
  <div class="form-footer">
    <button class="btn btn-default btn-uf btn-uf-default" (click)="closeDeleteProposal()">No</button>
    <button class="btn btn-primary btn-uf" (click)="deleteProposal()">Yes</button>
  </div>
</app-modal>
