<div class="how-it-works-page">
  <div class="content-section">
    <div class="page-title">
      <p>How it works</p>
    </div>
    <div class="data-container">
      <div class="section">
        <h4 class="section-title">If you're a farm owner</h4>
        <ul>
          <li>
            <p>
              Register to Urban Farming Network as a farm owner
            </p>
          </li>
          <li>
            <p>
              Add your farm in My Farms tab to be seen in the farms listings
            </p>
          </li>
          <li>
            <p>
              Start receiving proposals for your farm by farmers registered on Urban Farming Network
            </p>
          </li>
          <li>
            <p>
              Respond to these proposals and start collaborating with the farmer
            </p>
          </li>
          <li>
            <p>
              To check if your land meets the criteria to be converted to urban farm, check this <a href="javascript:void(0)" (click)="scrollToFarmListings(criteria)">section</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="section">
        <h4 class="section-title">If you're a farmer</h4>
        <ul>
          <li>
            <p>
              Register to Urban Farming Network as a farmer
            </p>
          </li>
          <li>
            <p>
              Go through all the farms listed near you or any location you are interested in
            </p>
          </li>
          <li>
            <p>
              Submit a proposal for the farm that meets your requirements
            </p>
          </li>
          <li>
            <p>
              Negotiate on terms with owner and start collaborating
            </p>
          </li>
          <li>
            <p>
              If you want to know about the contract application process to the county, check this <a href="javascript:void(0)" (click)="scrollToFarmListings(process)">section</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="section" #criteria>
        <h4 class="section-title">Does your land meet all the requirements to be converted to urban farm?</h4>
        <p>
          Your land should meet all the following requirements to be converted to urban farm.
        </p>
        <ul>
          <li>
            <p>
              <b>Size:</b> Min 0.10 acres and max 1 acre
            </p>
          </li>
          <li>
            <p>
              <b>Condition:</b> Land is blighted, unimproved, or vacant or was previously so and has been converted to urban farm
            </p>
          </li>
          <li>
            <p>
              <b>Permissible structures:</b> No dwellings. Only structures useful to urban farming are allowed
            </p>
          </li>
          <li>
            <p>
              <b>Water service:</b> The property needs a metered water service connection or an approved equivalent
            </p>
          </li>
          <li>
            <b>Readiness:</b>
            <ul>
              <li>
                  <span>
                    Property must be exclusively dedicated to urban farming use
                  </span>
              </li>
              <li>
                  <span>
                    Any approvals or building approvals must be taken prior to commencement of urban farming
                  </span>
              </li>
              <li>
                  <span>
                    The urban farming must commence within 90 days of approval
                  </span>
              </li>
              <li>
                  <span>
                    Minimum 5 years agreement for farming operations
                  </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="section" #process>
        <h4 class="section-title">Contract application process to the county</h4>
        <p><b>Approval process</b></p>
        <p>
          <b>Step 1</b><br>
          Fill <a href="https://www.sanjoseca.gov/DocumentCenter/View/63228">this</a> form and submit it to 200 E. Santa Clara Street, 3rd floor.<br>
          You can also set a meeting with Art Henriques at 408-535-6862 or Arthur.Henriques@sanjoseca.gov
        </p>
        <p>
          <b>Step 2</b><br>
          City reviews application and evaluates tax benefit limit.<br>
          Total loss to the city, County, and other recipients of ad valorem property taxes should not be greater than $250,000 through Jan 1, 2019.
        </p>
        <p>
          <b>Step 3</b><br>
          If evaluation provides signal to proceed, City will sign and execute the contract.<br>
          The applicant also needs to sign and notarized it. This should be returned to city. The contract is then attested by City clerk and application is provided with the copy of this attested contract.
        </p>
        <p>
          <b>Step 4</b><br>
          Get the contract recorded by Santa Clara County Clerk Recorder to receive tax benefit for that year before December 31.<br>
          Mail the copy to:<br>
          Planning Division<br>
          200 E. Santa Clara St. FL3<br>
          San José, CA 95113<br>
          Attn. Art Henriques<br>
          <br>
          THE CONTRACT IS NOW CONSIDERED FINALIZED.
        </p>
        <p>
          <b>Step 5</b><br>
          Begin the agricultural activity within 90 days of approval.
        </p>
        <p><b>Fees</b></p>
        <p>
          City Fee – UAIZ application fee is $308 which may change anytime without prior notice.<br>
          County Fee – County Clerk Recorder will also charge a fee.<br>
          Additionally, the County Agricultural Commissioner’s Office will separately bill for their time to review application and conduct annual inspections.
        </p>
        <p><b>Submittal requirements</b></p>
        <p>
          Your application must include the following items:<br>
          <b>Application Form</b> - The attached form must be completed and include the property owner signature/s.<br>
          <b>Contract and Attachments</b> - The standard contract must be signed by the property owner/s and must include these attachments:<br>
          Legal Description of the parcel (within the last 90 days), marked as Exhibit A<br>
          8.5X11-inch Site Plan, marked as Exhibit B. Show to scale and note specific dimensions of proposed uses of the site areas and show surrounding streets.<br>
          11X17-inch Site Plan as above; this version is for the Planning Division and will not be part of the county record filing.<br>
          Also recommended at the time of submittal: <br>
          Photos of the site, mounted on an 8.5X11 sheet.<br>
          A water retailer’s verification that a metered water service connection or an approved equivalent exists and serves the property.
        </p>
      </div>
      <div class="section">
        <h4 class="section-title">Common questions</h4>
        <b>Health Permit for selling produce?</b><br>
        <p>Check with Santa Clara County for information on this here 408-918-3400</p>
        <b>Property Tax Savings remains same for every year?</b><br>
        <p>It changes based on market rates and property tax rate annually. Most likely, it remains relatively consistent from year to year</p>
        <b>If contract is terminated before 5 years?</b><br>
        <p>The land owner pays the cancellation fees which is equal to tax amount that is lost by the county in all years of contract + the interest</p>
        <b>If I sell the property while during the contract tenure?</b><br>
        <p>The subsequent owners are bound to the Urban Agricultural Zone (UAIZ) contract agreement, unless the new owner terminates it and pays the cancellation fees. Any changes in the ownership are to be informed to city, the planning director and the assessor’s office. The Preliminary Change of Ownership Report (PCOR) is to be submitted along with this. It is available at www.sccassessor.org</p>
      </div>
      <div class="btn-container">
        <p>Ready to start?</p>
        <button class="btn btn-primary btn-uf" routerLink="/">Search farms</button>
      </div>
    </div>
  </div>
</div>
