<div class="page-title">
  <p>Here are all the proposals for your farms</p>
</div>
<div class="data-container">
  <div class="card">
      <div class="row proposal-info">
        <div class="col-xs-6">
          <p class="farm-location">One Washington Square, San Jose, CA 95192</p>
        </div>
        <div class="col-xs-6">
          <p class="status">Submitted</p>
        </div>
        <div class="col-xs-12">
          <label>Proposal by</label>
          <p>John Doe</p>
        </div>
        <div class="col-xs-12">
          <label>Other farmers invited</label>
          <p>Jon Snow</p>
          <p>Json Momoa</p>
        </div>
      </div>
      <div class="action-info">
        <button class="btn btn-primary btn-uf" (click)="viewProposal(1)">View proposal</button>
      </div>
  </div>
  <div class="card">
    <div class="row proposal-info">
      <div class="col-xs-6">
        <p class="farm-location">One Washington Square, San Jose, CA 95192</p>
      </div>
      <div class="col-xs-6">
        <p class="status">Submitted</p>
      </div>
      <div class="col-xs-12">
        <label>Proposal by</label>
        <p>John Doe</p>
      </div>
      <div class="col-xs-12">
        <label>Other farmers invited</label>
        <p>Jon Snow</p>
        <p>Json Momoa</p>
      </div>
    </div>
    <div class="action-info">
      <button class="btn btn-primary btn-uf" (click)="viewProposal(1)">View proposal</button>
    </div>
  </div>
  <div class="card">
    <div class="row proposal-info">
      <div class="col-xs-6">
        <p class="farm-location">One Washington Square, San Jose, CA 95192</p>
      </div>
      <div class="col-xs-6">
        <p class="status">Accepted</p>
      </div>
      <div class="col-xs-12">
        <label>Proposal by</label>
        <p>John Doe</p>
      </div>
      <div class="col-xs-12">
        <label>Other farmers invited</label>
        <p>Jon Snow</p>
        <p>Json Momoa</p>
      </div>
    </div>
    <div class="action-info">
      <button class="btn btn-primary btn-uf" (click)="viewProposal(1)">View proposal</button>
    </div>
  </div>
  <p class="empty-message">You don't have any proposals for your farms</p>
</div>
