.page-title {
  font-size: 28px;
  line-height: 2;
}

.page-title p {
  margin: 0px;
}

.data-container {
  min-height: 600px;
}

.data-container .card {
  background: #fff;
  padding: 30px;
  border-bottom: 1px solid #ccc;
}

.data-container .card:last-child {
  margin-bottom: 0px;
}

.data-container .card .proposal-info .farm-location {
  font-size: 22px;
}

.data-container .card .proposal-info .status {
  font-style: italic;
  font-weight: bold;
  float: right;
}
