<div class="my-farms-page">
  <div class="content-section">
    <div class="btn-container text-right">
      <button class="btn btn-primary btn-uf">Add new</button>
    </div>
    <div class="data-container">
      <div class="card">
        <div class="location-info">
          <div class="row">
            <div class="col-xs-12">
              <p>
                One Washington Square, San Jose, CA 95192
              </p>
            </div>
          </div>
        </div>
        <div class="general-info">
          <div class="row">
            <div class="col-xs-6">
              <label>Owner</label>
              <p>John Doe</p>
            </div>
            <div class="col-xs-6">
              <label>Surface area</label>
              <p>1280 Sqft.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Existing structures</label>
              <p>Patthar, Jhaad</p>
            </div>
            <div class="col-xs-6">
              <label>Water connection?</label>
              <p>Yes</p>
            </div>
          </div>
        </div>
        <div class="action-info">
          <button class="btn btn-primary btn-uf">Edit</button>
          <button class="btn btn-uf btn-default btn-uf-default">Delete</button>
        </div>
      </div>
      <div class="card">
        <div class="location-info">
          <div class="row">
            <div class="col-xs-12">
              <p>
                One Washington Square, San Jose, CA 95192
              </p>
            </div>
          </div>
        </div>
        <div class="general-info">
          <div class="row">
            <div class="col-xs-6">
              <label>Owner</label>
              <p>John Doe</p>
            </div>
            <div class="col-xs-6">
              <label>Surface area</label>
              <p>1280 Sqft.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Existing structures</label>
              <p>Patthar, Jhaad</p>
            </div>
            <div class="col-xs-6">
              <label>Water connection?</label>
              <p>Yes</p>
            </div>
          </div>
        </div>
        <div class="action-info">
          <button class="btn btn-primary btn-uf">Edit</button>
          <button class="btn btn-uf btn-default btn-uf-default">Delete</button>
        </div>
      </div>
      <div class="card">
        <div class="location-info">
          <div class="row">
            <div class="col-xs-12">
              <p>
                One Washington Square, San Jose, CA 95192
              </p>
            </div>
          </div>
        </div>
        <div class="general-info">
          <div class="row">
            <div class="col-xs-6">
              <label>Owner</label>
              <p>John Doe</p>
            </div>
            <div class="col-xs-6">
              <label>Surface area</label>
              <p>1280 Sqft.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Existing structures</label>
              <p>Patthar, Jhaad</p>
            </div>
            <div class="col-xs-6">
              <label>Water connection?</label>
              <p>Yes</p>
            </div>
          </div>
        </div>
        <div class="action-info">
          <button class="btn btn-primary btn-uf">Edit</button>
          <button class="btn btn-uf btn-default btn-uf-default">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
