.profile-page .content-section {
  padding: 80px 60px;
}

.profile-page .content-section .page-title {
  font-size: 28px;
  line-height: 2;
  border-bottom: 3px solid #668226;
}

.profile-page .content-section .page-title p {
  margin: 0px;
  float: left;
}

.profile-page .content-section .page-title a {
  float: right;
  margin-top: 11px;
}

.profile-page .content-section .data-container {

}

.profile-page .content-section .data-container .usr-img {
  width: 200px;
  margin: 50px auto;
}

.profile-page .content-section .data-container .section {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}

.profile-page .content-section .data-container .section .section-title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0px;
}
