<div class="page-title">
  <p>Search for the farms near you</p>
</div>
<div class="input-container">
  <input placeholder="Search location..." autocorrect="off" autocapitalize="off" spellcheck="off"
         type="text" class="form-control" #search [formControl]="searchControl">
  <button class="btn btn-primary btn-uf" (click)="toggleView()">
    <i *ngIf="mapView" class="fa fa-list-ul" aria-hidden="true"></i>
    <i *ngIf="!mapView" class="fa fa-map" aria-hidden="true"></i>
  </button>
</div>
<div class="data-container">
  <div *ngIf="mapView" class="map-view">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker *ngFor="let f of farms; let i = index" [latitude]="f.location[1]" [longitude]="f.location[0]" (markerClick)="openSubmitProposal(i)">

      </agm-marker>
    </agm-map>
  </div>
  <div *ngIf="!mapView" class="list-view">
    <div *ngIf="farms.length > 0">
      <div *ngFor="let f of farms; let i = index" class="card">
      <div class="location-info">
        <div class="row">
          <div class="col-xs-12">
            <p>
              {{f.streetAddress}}
              {{f.city}}
              {{f.state}}
              {{f.zipCode}}
              <a href="javascript:void(0)" (click)="viewInMap(i)"><i class="fa fa-location-arrow" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="general-info">
        <div class="row">
          <div class="col-xs-6">
            <label>Owner</label>
            <p>
              {{f.owner.firstName}}
              {{f.owner.lastName}}
            </p>
          </div>
          <div class="col-xs-6">
            <label>Surface area</label>
            <p>{{f.size}} Sqft.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label>Existing structures</label>
            <p>{{f.existingStructures}}</p>
          </div>
          <div class="col-xs-6">
            <label>Water connection?</label>
            <p>{{f.waterConn}}</p>
          </div>
        </div>
      </div>
      <div class="action-info">
        <button class="btn btn-primary btn-uf" (click)="openSubmitProposal(i)">New proposal</button>
      </div>
    </div>
    </div>
    <p *ngIf="farms.length === 0" class="empty-message">No farms found</p>
  </div>
</div>

<app-modal [blocking]='false' modalId="farm-location" class="farm-location">
  <agm-map #farmMap [latitude]="viewMapLat" [longitude]="viewMapLng" [zoom]="zoom">
    <agm-marker [latitude]="viewMapLat" [longitude]="viewMapLng"></agm-marker>
  </agm-map>
</app-modal>

<app-modal [blocking]='true' modalId="new-proposal" class="new-proposal">
  <span class="close-button" (click)="closeNewProposal()"><i class="fa fa-times" aria-hidden="true"></i></span>
  <div class="form-body">
    <p class="section-title">Farm details</p>
    <div class="row section farm-section">
      <div class="row">
        <div class="col-xs-6 farm-info">
          <div class="row">
            <div class="col-xs-12">
              <p class="location-text">
                {{selectedFarm.streetAddress}}
                {{selectedFarm.city}}
                {{selectedFarm.state}}
                {{selectedFarm.zipCode}}
              </p>
            </div>
            <div class="col-xs-6">
              <label>Owner</label>
              <p>
                {{selectedFarm.owner.firstName}}
                {{selectedFarm.owner.lastName}}
              </p>
            </div>
            <div class="col-xs-6">
              <label>Surface area</label>
              <p>{{selectedFarm.size}} Sqft.</p>
            </div>
            <div class="col-xs-6">
              <label>Existing structures</label>
              <p>{{selectedFarm.existingStructures}}</p>
            </div>
            <div class="col-xs-6">
              <label>Water connection?</label>
              <p>{{selectedFarm.waterConn}}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 location-map">
          <agm-map #farmMap2 [latitude]="selectedFarm.location[1]" [longitude]="selectedFarm.location[0]" [zoom]="zoom">
            <agm-marker [latitude]="selectedFarm.location[1]" [longitude]="selectedFarm.location[0]"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <p class="section-title">Proposal details</p>
    <div class="row section proposal-section">
      <div class="row">
        <div class="col-xs-12 form-group">
          <label>Invite other farmers</label>
          <input  ngui-auto-complete class="form-control" placeholder="Search farmers..."
                  min-chars="1"
                  accept-user-input="false"
                  [(ngModel)]="selectedFarmer"
                  [source]="searchFarmers.bind(this)"
                  (valueChanged)="farmerSelected($event)"
                  value-property-name="id"
                  display-property-name="firstName"
                  [list-formatter]="myListFormatter"/>
        </div>
        <div class="col-xs-12 form-group" *ngIf="proposalData.invitedUsers.length > 0">
          <div *ngFor="let u of proposalData.invitedUsers; let i = index">
            <p>
              {{u.firstName}}
              {{u.lastName}}
              <a href="javascript:void(0)" (click)="removeFarmer(i)"><i class="fa fa-close" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-12 form-group">
          <label>Cover letter</label>
          <textarea class="form-control" rows="4" [(ngModel)]="proposalData.coverLetter"></textarea>
        </div>
        <div class="col-xs-12 form-group">
          <label>Proposed uses</label>
          <textarea class="form-control" rows="4" [(ngModel)]="proposalData.proposedUses"></textarea>
        </div>
        <div class="col-xs-12 form-group">
          <label>Planned operations</label>
          <textarea class="form-control" rows="4" [(ngModel)]="proposalData.plannedOperations"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <button class="btn btn-default btn-uf btn-uf-default" (click)="closeNewProposal()">Cancel</button>
    <button class="btn btn-primary btn-uf" (click)="saveProposal(true)">Save as draft</button>
    <button class="btn btn-primary btn-uf" (click)="saveProposal(false)">Submit</button>
  </div>
</app-modal>
