<div class="contact-us-page">
  <div class="content-section">
    <div class="page-title">
      <p>Contact us</p>
    </div>
    <div class="data-container">
      <div class="row">
        <div class="col-xs-12">
          <p>Have a question? Please let us know!</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-uf">Submit</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-4">
          <i class="fa fa-map-marker" style="width:30px"></i> San Jose, CA<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +1 669-210-4017<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@urbanfarmingnetwork.com<br>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 social-links">
          <ul>
            <li>
              <a href="https://www.facebook.com/Urban-Farming-Network-558704577806309/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/urbanfarmingnet"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
