<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<style>-->
  <!--body {font-family: "Lato", sans-serif}-->
  <!--.mySlides {display: none}-->
<!--</style>-->

<div class="contact-us-page">
  <div class="content-section">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <p class="w3-opacity w3-center"><i>Have question? Please let us know!</i></p>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> San Jose, CA<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +1 408-123-456<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>
        <div class="w3-col m6">
          <form action="/action_page.php" target="_blank">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
              <div class="w3-half">
                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
              </div>
              <div class="w3-half">
                <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
              </div>
            </div>
            <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
            <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
          </form>
        </div>
      </div>
    </div>


    <!-- Add Google Maps -->
    <!--<div id="googleMap" style="height:400px;" class="w3-grayscale-max"></div>-->
    <!--<script>-->
      <!--function myMap() {-->
        <!--myCenter=new google.maps.LatLng(37.334202,-121.882536);-->
        <!--var mapOptions= {-->
          <!--center:myCenter,-->
          <!--zoom:12, scrollwheel: false, draggable: false,-->
          <!--mapTypeId:google.maps.MapTypeId.ROADMAP-->
        <!--};-->
        <!--var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);-->

        <!--var marker = new google.maps.Marker({-->
          <!--position: myCenter,-->
        <!--});-->
        <!--marker.setMap(map);-->
      <!--}-->
    <!--</script>-->
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxFOcfD44xdsO0zRhust7lFMKvV5AdfkM&callback=myMap"-->
            <!--type="text/javascript"></script>-->
  </div>
</div>
