<div class="landing-page">
  <div class="banner-section" *ngIf="!authService.isLogged">
    <img src="/assets/bg2.jpg" alt="banner">
    <div class="banner-overlay">
      <div class="title-text">
        <p>URBAN FARMING NETWORK</p>
      </div>
      <div class="buttons">
        <button class="btn btn-primary btn-uf" (click)="scrollToFarmListings(content)">I'm a farmer</button>
        <button class="btn btn-primary btn-uf" (click)="openOwnerRegister()">I'm an owner</button>
      </div>
    </div>
  </div>
  <div class="content-section" #content>
    <app-farmer *ngIf="authService.role !== 'OWNER' && authService.role !== 'ADMIN'"></app-farmer>
    <app-owner *ngIf="authService.isLogged && authService.role === 'OWNER'"></app-owner>
    <app-admin *ngIf="authService.isLogged && authService.role === 'ADMIN'"></app-admin>
  </div>
</div>


