<div class="about-us-page">
  <div class="content-section">
    <div class="page-title">
      <p>About us</p>
    </div>
    <div class="data-container">
      <div class="section">
        <h4>What is urban farming?</h4>
        <p>
          It’s the practice of growing, processing and distributing food in and around the city. The practice mainly occurs in densely populated areas where there are vacant lands inside a community or in urban area. Such lands are utilized by the farmers and other people who are interested in spending some of their time in cultivating green vegetables, animal husbandry, urban beekeeping, agroforestry and horticulture.
        </p>
      </div>
      <div class="section">
        <h4>Why is it important?</h4>
        <p>
          The urban agriculture leads to more access to fresh vegetables, fruits and meat products. Moreover, food security, nutrition and income generation for participants are some of the key motivating factors for such a practice.
          Urban Farming, as a social cause, helps in giving rise to a social movement for sustainable communities, where the organic growers, foodies and ‘Locavores’, the local groups who like to eat food which is grown nearby to them form a social network on basis of such an initiative.
          The various areas in which urban farming practice adds to positive effects include economic, social, energy efficiency, reduction in ozone and particulate matter, Soil decontamination, reducing noise pollution, increased nutrition and quality of food and environmental justice.

        </p>
      </div>
      <div class="section">
        <h4>Who are we?</h4>
        <p>
          We, as a platform, can help the land owners to collaborate with these farmers and the people who are ready to grow food or utilize their time in any activities related to urban farming.
          </p>
      </div>
      <div class="section">
        <h4>What are we trying to achieve?</h4>
        <p>
          By building this platform, we can remove the communication gap between farmers and urban land owners. Moreover, it will also help in educating the people about the process of urban farming and share the data of unused lands with the community to promote this noble cause.
         </p>
      </div>
    </div>
  </div>
</div>
