.about-us-page .content-section {
  padding: 80px 60px;
}

.about-us-page .content-section .page-title {
  font-size: 28px;
  line-height: 2;
  border-bottom: 3px solid #668226;
}

.about-us-page .content-section .page-title p {
  margin: 0px;
}

.about-us-page .content-section .data-container {

}

.about-us-page .content-section .data-container .section {
  margin-top: 30px;
}
