/* You can add global styles to this file, and also import other style files */

body {
  /*background-color: #e4e5ea;*/
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
}

.btn-uf {
  color: #fff;
  background: #668226;
  border: none;
  text-decoration: none;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.04);
  border-radius: 0px;
  height: 34px;
}

.btn-uf:hover {
  background: #668226;
}

.btn-uf:active {
  background: #668226;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.btn-uf:focus {
  outline: none;
  background: #668226;
}

.btn-uf:active:focus {
  outline: none;
  background: #4b6119;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.btn-uf-default {
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
}

.btn-uf-default:hover {
  background: #e6e6e6;
  border: 1px solid #adadad;
}

.btn-uf-default:active {
  background: none;
  border: 1px solid #adadad;
}

.btn-uf-default:focus {
  outline: none;
  background: #e6e6e6;
}

.btn-uf-default:active:focus {
  background: none;
}

input, select, .form-control {
  /*box-shadow: none !important;*/
  border-radius: 0px !important;
}

.error {
  color: #e82110;
  font-size: 12px;
}



