<div class="my-proposals-page">
  <div class="content-section">
    <p class="section-title">Saved proposals</p>
    <div class="data-container">
      <div class="card">
        <div class="row proposal-info">
          <div class="col-xs-12">
            <p class="farm-location">One Washington Square, San Jose, CA 95192</p>
          </div>
          <div class="col-xs-6">
            <label>Owner</label>
            <p>John Doe</p>
          </div>
          <div class="col-xs-6">
            <label>Other farmers invited</label>
            <p>Jon Snow</p>
            <p>Json Momoa</p>
          </div>
        </div>
        <div class="action-info">
          <button class="btn btn-primary btn-uf" (click)="viewProposal(1)">View proposal</button>
        </div>
      </div>
      <div class="card">
        <div class="row proposal-info">
          <div class="col-xs-12">
            <p class="farm-location">One Washington Square, San Jose, CA 95192</p>
          </div>
          <div class="col-xs-6">
            <label>Owner</label>
            <p>John Doe</p>
          </div>
          <div class="col-xs-6">
            <label>Other farmers invited</label>
            <p>Jon Snow</p>
            <p>Json Momoa</p>
          </div>
        </div>
        <div class="action-info">
          <button class="btn btn-primary btn-uf" (click)="viewProposal(1)">View proposal</button>
        </div>
      </div>
      <div class="card">
        <div class="row proposal-info">
          <div class="col-xs-12">
            <p class="farm-location">One Washington Square, San Jose, CA 95192</p>
          </div>
          <div class="col-xs-6">
            <label>Owner</label>
            <p>John Doe</p>
          </div>
          <div class="col-xs-6">
            <label>Other farmers invited</label>
            <p>Jon Snow</p>
            <p>Json Momoa</p>
          </div>
        </div>
        <div class="action-info">
          <button class="btn btn-primary btn-uf" (click)="viewProposal(1)">View proposal</button>
        </div>
      </div>
      <p class="empty-message">You don't have any saved proposals</p>
    </div>
    <p class="section-title">Submitted proposals</p>
    <div class="data-container">
      <p class="empty-message">You don't have any submitted proposals</p>
    </div>
    <p class="section-title">Invitations</p>
    <div class="data-container">
      <p class="empty-message">You don't have any invitations</p>
    </div>
  </div>
</div>
